workflow.json
{
  "name": "CRM Sync — ${CLIENT_NAME}",
  "nodes": [
    {
      "id": "schedule-1",
      "name": "Hourly Sync",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        200,
        300
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 * * * *"
            }
          ]
        }
      }
    },
    {
      "id": "http-1",
      "name": "Fetch Source CRM",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        440,
        300
      ],
      "parameters": {
        "method": "GET",
        "url": "https://api.zohocrm.com/v2/Leads?sort_by=Modified_Time&sort_order=desc&per_page=100",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Zoho-oauthtoken ${CLIENT_ID}"
            }
          ]
        }
      }
    },
    {
      "id": "code-1",
      "name": "Transform Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        680,
        300
      ],
      "parameters": {
        "jsCode": "const records = $input.first().json.data || [];\nreturn records.map(record => ({\n  json: {\n    id: record.id,\n    name: record.Full_Name || record.Last_Name,\n    email: record.Email,\n    phone: record.Phone,\n    status: record.Lead_Status,\n    source: record.Lead_Source,\n    clientId: \"${CLIENT_ID}\",\n    clientName: \"${CLIENT_NAME}\",\n    budget: \"${BUDGET}\",\n    syncedAt: new Date().toISOString()\n  }\n}));"
      }
    },
    {
      "id": "if-1",
      "name": "Has Email?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        920,
        300
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "cond-1",
              "leftValue": "={{ $json.email }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "http-2",
      "name": "Update HubSpot",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1160,
        200
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.hubapi.com/crm/v3/objects/contacts/batch/upsert",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer ${CLIENT_ID}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": "={{ JSON.stringify({ inputs: [{ idProperty: \"email\", properties: { email: $json.email, firstname: $json.name, phone: $json.phone, lifecyclestage: $json.status === \"Qualified\" ? \"opportunity\" : \"lead\" } }] }) }}"
      }
    },
    {
      "id": "set-1",
      "name": "Sync Summary",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [
        1400,
        200
      ],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a1",
              "name": "synced",
              "value": true,
              "type": "boolean"
            },
            {
              "id": "a2",
              "name": "record_id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "a3",
              "name": "client",
              "value": "${CLIENT_NAME}",
              "type": "string"
            },
            {
              "id": "a4",
              "name": "timestamp",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            }
          ]
        }
      }
    }
  ],
  "connections": {
    "Hourly Sync": {
      "main": [
        [
          {
            "node": "Fetch Source CRM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Source CRM": {
      "main": [
        [
          {
            "node": "Transform Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transform Data": {
      "main": [
        [
          {
            "node": "Has Email?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Email?": {
      "main": [
        [
          {
            "node": "Update HubSpot",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Update HubSpot": {
      "main": [
        [
          {
            "node": "Sync Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}